<div *ngIf="currentStockPrice">
  <div>Time: {{formatDate(currentStockPrice.datetime)}}</div>
  <div class="text-red price-container">
    <div class="price-title">Ask</div>
    <div class="price-value">{{currentStockPrice.ask}}</div>
    <div class="price-size">x {{currentStockPrice.ask_size}}</div>
  </div>
  <div class="text-green price-container">
    <div class="price-title">Bid</div>
    <div class="price-value">{{currentStockPrice.bid}}</div>
    <div class="price-size">x {{currentStockPrice.bid_size}}</div>
  </div>
</div>